In [30]:
from scipy.optimize import *
import pandas as pd 
import numpy as np 
from numpy import array
from numpy import mean
from numpy import cov
from numpy.linalg import eig
from tqdm import tqdm
from pulp import *
import plotly.express as px 
from sklearn.decomposition import PCA
import random
import plotly.io as pio 
pio.renderers.default = "browser"
import plotly.graph_objects as go
from pandas_datareader import data

In [2]:
    def meanRetAn(data):             
        Result = 1
        
        for i in data:
            Result *= (1+i)
            
        Result = Result**(1/float(len(data)/52))-1
        
        return(Result)

In [3]:
df = pd.read_csv("ETFs_info.csv", index_col="Ticker")
df["Inception"] = pd.to_datetime(df["Inception"])
df = df[df["Inception"] <= "2015-01-01"]

fundamental_df = pd.read_csv("fund_risk_cluster_reduced.csv",index_col="Ticker") #Fundamental Clustering Data
weekly_return = pd.read_csv("WeeklyReturns.csv",index_col="Date") #Weekly Return Data
fundamental_df = fundamental_df.loc[fundamental_df.index.intersection(weekly_return.columns)]
fundamental_df = fundamental_df.loc[fundamental_df.index.intersection(df.index)]
len(fundamental_df)

695

In [4]:
def calculate_pdi(num_assets, tickers, weekly_returns): 
    
    def meanRetAn(data):             
        Result = 1
        
        for i in data:
            Result *= (1+i)
            
        Result = Result**(1/float(len(data)/52))-1
        
        return(Result)

    pca = PCA()
    PDI_dict = {}
    samples = [["SPY"]]
    for number in range(3,num_assets, 1):
        for i in range(1,2000):
            #samples.extend([list(x) for x in combinations(selected_tickers, number_of_assets)])
            samples.append(random.sample(list(tickers),number))
    samples_mini = []
    for i in samples:
        if i not in samples_mini:
            samples_mini.append(i)


    
    for i,y in zip(samples_mini,range(1,len(samples_mini)+1)):
        n_assets = len(i)
        portfolio_weights_ew = np.repeat(1/n_assets, n_assets)
        port_weekly_return = weekly_returns[i].mul(portfolio_weights_ew,axis=1).sum(axis=1)
        ann_ret = meanRetAn(list(port_weekly_return))
        an_cov = weekly_returns[i].cov()
        port_std = np.sqrt(np.dot(portfolio_weights_ew.T, np.dot(an_cov, portfolio_weights_ew)))*np.sqrt(52)
        corr_matrix = np.array(weekly_returns[i].corr())
        principalComponents = pca.fit(corr_matrix)
        PDI = 2*sum(principalComponents.explained_variance_ratio_*range(1,len(principalComponents.explained_variance_ratio_)+1,1))-1
        PDI_dict[y] = {}
        PDI_dict[y]["PDI_INDEX"] = PDI
        PDI_dict[y]["# of Assets"] = len(i)
        PDI_dict[y]["Assets"] = i
        PDI_dict[y]["Sharpe Ratio"] = ann_ret/port_std
        PDI_dict[y]["Annual Return"] = ann_ret
        PDI_dict[y]["Annual STD"] = port_std
    

        


    PDI_DF = pd.DataFrame(PDI_dict).T
    #PDI_DF["Assets"] = PDI_DF["Assets"].astype(str)
    PDI_DF["# of Assets"] = PDI_DF["# of Assets"].astype(str)
    PDI_DF["Sharpe Ratio"] = PDI_DF["Sharpe Ratio"].astype(float)
    PDI_DF["Annual STD"] = PDI_DF["Annual STD"].astype(float)
    PDI_DF["PDI_INDEX"] = PDI_DF["PDI_INDEX"].astype(float)
    PDI_DF["Annual Return"] = PDI_DF["Annual Return"].astype(float)
    SPY_DF = PDI_DF.iloc[0,:]
    return PDI_DF,SPY_DF

In [5]:
num_as = 20
sel_tick = list(fundamental_df.index)

PDI_DF, SPY_DF = calculate_pdi(num_as, sel_tick, weekly_return)

In [6]:
PDI_DF.head()

,PDI_INDEX,# of Assets,Assets,Sharpe Ratio,Annual Return,Annual STD
1,NaN,1,[SPY],0.818855,0.130413,0.159263
2,1.414592,3,"[SCJ, PSCM, SPVM]",0.461832,0.087222,0.188861
3,1.302344,3,"[SOXL, PUI, XES]",0.416604,0.172723,0.414597
4,1.054566,3,"[DGRS, RYJ, PBE]",0.355442,0.080435,0.226295
5,1.255277,3,"[VSS, EUFN, EUDG]",0.287435,0.059219,0.206026

In [7]:
fig = px.scatter(PDI_DF, x='PDI_INDEX', y='Sharpe Ratio', color="# of Assets")
fig.show()

In [8]:
fig = px.box(PDI_DF, x="# of Assets", y="Annual STD")
fig.show()

In [70]:
fig = px.box(PDI_DF, x="# of Assets", y="Annual Return")
fig.show()

In [9]:
print("min PDI",PDI_DF["PDI_INDEX"].min())
print("max PDI",PDI_DF["PDI_INDEX"].max())

min PDI 1.000214371065589
max PDI 5.135170565856279

In [10]:
PDI_DF

,PDI_INDEX,# of Assets,Assets,Sharpe Ratio,Annual Return,Annual STD
1,NaN,1,[SPY],0.818855,0.130413,0.159263
2,1.414592,3,"[SCJ, PSCM, SPVM]",0.461832,0.087222,0.188861
3,1.302344,3,"[SOXL, PUI, XES]",0.416604,0.172723,0.414597
4,1.054566,3,"[DGRS, RYJ, PBE]",0.355442,0.080435,0.226295
5,1.255277,3,"[VSS, EUFN, EUDG]",0.287435,0.059219,0.206026
...,...,...,...,...,...,...
33980,2.755384,19,"[QABA, SCHF, RZV, VT, VFH, UGE, FYX, XLP, EIS,...",0.665814,0.142286,0.213703
33981,2.854350,19,"[JPIN, TUR, TILT, SYE, XLI, RDIV, IXUS, VTWO, ...",0.405457,0.077874,0.192065
33982,3.651829,19,"[PWB, EWSC, VOOV, FLM, PBJ, EEM, EFA, EVX, ENZ...",0.465379,0.081121,0.174311
33983,2.763340,19,"[VTWG, MIDU, RYE, EMLP, IYW, IYT, PSJ, XOP, GV...",0.377863,0.082463,0.218236
33984,3.753796,19,"[IYY, PID, IEUR, DEF, EFV, PSP, QLD, EPHE, PDP...",0.485775,0.095792,0.197194

In [11]:
a = PDI_DF["PDI_INDEX"].quantile(.5)
a

2.3683454956402015

In [42]:
 df_1 = PDI_DF[PDI_DF["PDI_INDEX"] <= a]
 df_1

,PDI_INDEX,# of Assets,Assets,Sharpe Ratio,Annual Return,Annual STD
2,1.210099,3,"[KRE, CHIQ, FPA]",0.564758,0.120226,0.212881
3,1.204287,3,"[FYT, SYG, MDYG]",0.563357,0.115168,0.204432
4,1.750332,3,"[MMTM, IAK, ZDEU]",0.523091,0.094329,0.180331
5,1.385366,3,"[FENY, DFJ, PYZ]",0.134866,0.030540,0.226449
6,1.134295,3,"[TOLZ, RFG, XLY]",0.537009,0.098377,0.183195
...,...,...,...,...,...,...
17969,1.313271,11,"[SPLV, EWC, QLD, DTD, XLV, EMQQ, EWM, PBE, SAA...",0.572785,0.098076,0.171227
17978,1.119875,11,"[SCHE, EUSA, JKI, DLS, ASEA, XMLV, DOO, SDY, M...",-0.147118,-0.020176,0.137139
17984,1.718354,11,"[SIL, XLG, QQQE, PSJ, FDT, RDVY, CN, SDIV, FNC...",0.684111,0.132154,0.193176
17987,1.192784,11,"[TOK, SMEZ, EZA, BBH, GXF, TNA, UDOW, EWT, PSQ...",0.425618,0.091966,0.216077
17990,2.047216,11,"[XSMO, IQDF, KIE, RING, FMAT, FENY, EXI, UWM, ...",0.367182,0.079958,0.217762

In [32]:
PDI_DF["Sharpe Ratio"].quantile([0.5])

0.5    0.497023
Name: Sharpe Ratio, dtype: float64

In [ ]:
# #0 - 0.25 quantile
# df_1 = PDI_DF[(PDI_DF["PDI_INDEX"] <= 2.04)]
# df_2 = PDI_DF[(PDI_DF["PDI_INDEX"] > 2.04) ]
# # #0.25 - 0.5 quantile
# # df_2 = PDI_DF[(PDI_DF["PDI_INDEX"] <= 1.647235)&(PDI_DF["PDI_INDEX"] > 1.181088) & (PDI_DF["Sharpe Ratio"] >= 0)]
# # #0-.5 - 0.75 quantile
# # df_3 = PDI_DF[(PDI_DF["PDI_INDEX"] > 1.647235)&(PDI_DF["PDI_INDEX"] <= 2.143900)& (PDI_DF["Sharpe Ratio"] >= 0)]
# # #0.75-1
# # df_4 = PDI_DF[(PDI_DF["PDI_INDEX"] > 2.143900) & (PDI_DF["Sharpe Ratio"] >= 0)]

In [24]:
qq_dict = {}
for i in PDI_DF["# of Assets"].unique():
    qq_dict[i] = {}
    dff_pdi = PDI_DF[PDI_DF["# of Assets"] == str(i)]
    q_mid = dff_pdi["PDI_INDEX"].quantile(0.5)
    df_1 = dff_pdi[dff_pdi["PDI_INDEX"] < q_mid]
    df_2 = dff_pdi[dff_pdi["PDI_INDEX"] >= q_mid]
    for frame,q in zip([df_1,df_2],["qq","qqq"]):
        qq_dict[i][q] = {}
        for ii in enumerate(frame["Assets"]):
            n_assets = len(ii[1])
            portfolio_weights_ew = np.repeat(1/n_assets, n_assets)
            port_weekly_return = weekly_return[ii[1]].mul(portfolio_weights_ew,axis=1).sum(axis=1)
            qq_dict[i][str(q)][str(ii[0])] = port_weekly_return

In [78]:
kk = pd.DataFrame(qq_dict["19"]["qqq"])
rr = pd.DataFrame(qq_dict["19"]["qq"])
hh = pd.merge(kk,rr, left_index=True, right_index=True, how = "inner", suffixes=("q2", "q1"))
hh["SPY"] = weekly_return["SPY"]
hh = hh.cumsum(axis=0)

In [79]:
hh

,0q2,1q2,2q2,3q2,4q2,5q2,6q2,7q2,8q2,9q2,...,990q1,991q1,992q1,993q1,994q1,995q1,996q1,997q1,998q1,SPY
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-14,0.007775,-0.006443,-0.004665,0.000477,0.001904,-0.002351,-0.002467,0.002573,-0.001553,-0.003189,...,0.003182,-0.007167,-0.004458,-0.000438,-0.001459,-0.003630,0.000753,-0.003448,-0.007850,-0.007167
2015-01-21,0.019609,0.018157,0.009731,0.012781,0.018746,0.011477,0.013109,0.014438,0.006667,0.020057,...,0.024829,0.006671,0.008422,0.014725,0.011357,0.015508,0.017013,0.002423,0.009033,0.003885
2015-01-28,0.019422,0.013044,0.000676,0.009937,0.009879,0.008846,0.009099,0.010368,0.006307,0.010229,...,0.012087,-0.006437,0.007548,0.001856,0.007293,0.010139,0.006578,-0.005796,0.002703,-0.010592
2015-02-04,0.029840,0.022598,0.021104,0.032842,0.017673,0.025161,0.027313,0.027370,0.025071,0.034355,...,0.024448,0.010395,0.023059,0.018182,0.023556,0.030310,0.023741,0.019626,0.029887,0.008994
2015-02-11,0.032241,0.021728,0.029591,0.043878,0.014953,0.035822,0.026608,0.036631,0.028914,0.039104,...,0.021024,0.020915,0.026820,0.025506,0.027275,0.030324,0.027915,0.032685,0.031113,0.023059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-02,0.700761,0.554838,0.614004,0.661659,0.401365,0.614587,0.557392,0.659134,0.616216,0.620634,...,0.820464,0.679828,0.602088,0.643798,0.526504,0.460735,0.617465,0.865595,0.567715,0.784790
2020-12-09,0.712979,0.571318,0.630498,0.687227,0.411983,0.632405,0.575009,0.674100,0.630944,0.637688,...,0.828879,0.693728,0.611798,0.653937,0.542460,0.469563,0.634005,0.889937,0.591209,0.784953
2020-12-16,0.726915,0.590932,0.640348,0.697796,0.422059,0.645983,0.590214,0.690358,0.643238,0.653759,...,0.842290,0.706456,0.621229,0.662681,0.550370,0.478575,0.644921,0.903803,0.603545,0.794003
2020-12-23,0.729250,0.594827,0.638831,0.706522,0.422860,0.651355,0.591210,0.701208,0.646116,0.652934,...,0.850163,0.710325,0.624282,0.661209,0.555937,0.485510,0.652579,0.923492,0.611326,0.791212
2020-12-30,0.737224,0.603877,0.648930,0.708770,0.440037,0.656860,0.604864,0.704813,0.650499,0.665370,...,0.862668,0.720585,0.632960,0.669494,0.559458,0.498796,0.656993,0.928032,0.614510,0.803237

In [80]:
fig = px.line(hh, x= hh.index, y=hh.columns)

In [81]:
fig.show()

In [152]:
q_mid_5 = PDI_DF[PDI_DF["# of Assets"] == "5"].quantile(0.8)
q_mid_10 = PDI_DF[PDI_DF["# of Assets"] == "10"].quantile(0.8)
q_mid_17 = PDI_DF[PDI_DF["# of Assets"] == "17"].quantile(0.8)
def upper_lower(x):
    if x == "5":
        if x XCZXCZQWE"     <>

IndentationError: unexpected indent (<ipython-input-152-92aa1b25c884>, line 4)

In [145]:
low_q = df_1
low_q["q"] = "Low_div"
low_q["q"] = low_q["q"]+"-"+low_q["# of Assets"]
low_q

,PDI_INDEX,# of Assets,Assets,Sharpe Ratio,Annual Return,Annual STD,q
4000,1.742603,5,"[FYX, PRFZ, PIZ, TDIV, FXU]",0.525615,0.095345,0.181397,Low_div-5
4001,1.728121,5,"[FENY, VUG, ASHR, EWP, VTI]",0.333801,0.065499,0.196222,Low_div-5
4002,1.457414,5,"[EQAL, JKJ, VXUS, FXZ, HEZU]",0.442982,0.088362,0.199472,Low_div-5
4003,1.670686,5,"[SPXL, FDTS, ROBO, EWT, SIL]",0.664589,0.166872,0.251090,Low_div-5
4004,1.505472,5,"[DFE, SPYG, QLD, FTAG, MDYG]",0.622211,0.134028,0.215407,Low_div-5
...,...,...,...,...,...,...,...
29981,1.727494,17,"[ARKK, FUTY, FILL, WBIG, ENZL, DXJS, REMX, EFA...",0.375174,0.049709,0.132495,Low_div-17
29982,2.989923,17,"[EMLP, VDC, PSCU, RCD, EWUS, UDOW, SPUU, MOO, ...",0.555782,0.112383,0.202207,Low_div-17
29983,1.084684,17,"[RYT, CHIX, SCZ, XAR, IVOG, HDV, FNDB, SDOW, R...",0.341905,0.050703,0.148296,Low_div-17
29984,1.410259,17,"[RTH, IGF, EWU, QYLD, FAD, IHF, DVYA, IDHQ, DO...",0.295736,0.040002,0.135263,Low_div-17
29986,1.287205,17,"[ICLN, AMLP, FXN, DEM, BKF, EQAL, EMIF, SYG, I...",0.342557,0.063833,0.186341,Low_div-17

In [138]:
# for i in low_q["Assets"][1:]:
#     print(fundamental_df.loc[i,:]["Category"].value_counts())

In [146]:
high_q = df_2
high_q["q"] = "High_div"
high_q["q"] = high_q["q"]+"-"+high_q["# of Assets"]
high_q

,PDI_INDEX,# of Assets,Assets,Sharpe Ratio,Annual Return,Annual STD,q
4966,3.117902,5,"[ECH, EPU, GREK, ZJPN, EVX]",0.249006,0.050331,0.202129,High_div-5
5300,3.110198,5,"[SOXL, EPOL, IXP, FDL, EWUS]",0.673711,0.190236,0.282370,High_div-5
13995,3.684217,10,"[EDEN, EWI, TUR, LTL, DTH, EMQQ, VV, XES, CURE...",0.308041,0.072221,0.234453,High_div-10
13996,3.570942,10,"[BKF, VEGI, SDIV, FLN, ROBO, IYE, PXF, DBEZ, B...",0.307772,0.065578,0.213074,High_div-10
14000,3.962951,10,"[QAT, PID, WBIL, PGAL, SPDW, KWEB, XPH, IDU, V...",0.418949,0.064205,0.153253,High_div-10
...,...,...,...,...,...,...,...
29969,3.124974,17,"[KRE, GMF, CHIC, RXI, ADRE, IWO, IWF, DGRW, XL...",0.554759,0.101371,0.182730,High_div-17
29971,3.080922,17,"[URTH, EPP, DBEZ, SOXX, QQEW, FILL, EQL, FDIS,...",0.550808,0.104083,0.188964,High_div-17
29973,3.268873,17,"[EWD, RPG, IGV, CHII, WBIG, FNI, PSCD, KWEB, M...",0.728478,0.126320,0.173402,High_div-17
29977,4.055728,17,"[SKYY, FGM, SCHC, BICK, IJK, FYX, OIH, EFG, IW...",0.419319,0.084942,0.202571,High_div-17
29985,3.202143,17,"[XRT, SCZ, BFOR, CIZ, IJJ, SLY, PIE, BRF, RYU,...",0.411725,0.079728,0.193643,High_div-17

In [131]:
# for i in high_q["Assets"][1:]:
#     print(fundamental_df.loc[i,:]["Category"].value_counts())

In [148]:
concat_frame = pd.concat([high_q,low_q])

In [149]:
fig = px.box(concat_frame, x="q", y="Annual STD")
fig.show()

In [150]:
fig = px.box(concat_frame, x="q", y="Annual Return")
fig.show()

In [151]:
fig = px.box(concat_frame, x="q", y="Sharpe Ratio")
fig.show()

In [101]:
fundamental_df.head()

,Category,Fundamental Cluster,Risk Cluster
SPY,Large Blend,High Fundamental Broad Market,Moderat/High Risk - Slightly Above Market Vola...
IVV,Large Blend,High Fundamental Broad Market,Moderat/High Risk - Slightly Above Market Vola...
VTI,Large Blend,High Fundamental Broad Market,Moderat/High Risk - Slightly Above Market Vola...
VOO,Large Blend,High Fundamental Broad Market,Moderat/High Risk - Slightly Above Market Vola...
QQQ,Large Growth,High Fundamental Broad Market,Moderat/High Risk - Slightly Above Market Vola...

In [62]:
testtest = pd.DataFrame()

for i in PDI_DF["# of Assets"].unique():
    testtest["qq-{}".format(i)] = pd.DataFrame(qq_dict[i]["qq"]).mean(axis=1)
    testtest["qqq-{}".format(i)] = pd.DataFrame(qq_dict[i]["qqq"]).mean(axis=1)

In [63]:
testtest.dropna(axis=1, inplace=True)
testtest["SPY"] = weekly_return["SPY"]
testtest = testtest.cumsum(axis=0)
fig = px.line(testtest, x= testtest.index, y=testtest.columns)
fig.show()

In [34]:
testtest = pd.DataFrame()
fig = px.line()




for i in PDI_DF["# of Assets"].unique():
    
    testtest = pd.DataFrame()
    testtest["q1"] = pd.DataFrame(qq_dict[i]["qq"]).mean(axis=1)
    testtest["q2"] = pd.DataFrame(qq_dict[i]["qqq"]).mean(axis=1)
    testtest = testtest.cumsum(axis=0)
    fig.add_trace(go.Scatter(x=testtest.index, y=testtest.columns, mode="lines"))
fig.show()

In [26]:
qq_dict[3]

KeyError: 3

In [ ]:
    testtest = pd.DataFrame()
    testtest["q1"] = pd.DataFrame(qq_dict["q1"]).mean(axis=1)
    testtest["q2"] = pd.DataFrame(qq_dict["q2"]).mean(axis=1)
    testtest = testtest.cumsum(axis=0)
    testtest["id"] = testtest.index
    fff = pd.wide_to_long(testtest,stubnames="q", i="id", j="quantile")
    fff = fff.reset_index().set_index("id")
    print(fff)
    fig = px.line(fff, x= fff.index, y="q")
    fig.show()

In [ ]:
len(df_1)

In [ ]:
weekly_return.index = pd.to_datetime(weekly_return.index)

In [ ]:
qq = []
year = []
porti = []
num_as = []
sr = []
ar = []
std = []
for i in list(weekly_return.index.year.unique()):
    for dfs,q in zip([df_1,df_2], ["q1","q2"]):
        for port in dfs["Assets"]:
            n_assets = len(port)
            portfolio_weights_ew = np.repeat(1/n_assets, n_assets)
            port_weekly_return = weekly_return[weekly_return.index.year == i][port].mul(portfolio_weights_ew,axis=1).mean(axis=1)
            ann_ret = meanRetAn(list(port_weekly_return))
            an_cov = weekly_return[weekly_return.index.year == i][port].cov()
            port_std = np.sqrt(np.dot(portfolio_weights_ew.T, np.dot(an_cov, portfolio_weights_ew)))*np.sqrt(52)
            qq.append(q)
            year.append(i)
            porti.append(port)
            num_as.append(len(port))
            sr.append(ann_ret/port_std)
            ar.append(ann_ret)
            std.append(port_std)

In [ ]:
df = pd.DataFrame()
df["year"] = year
df["q"] = qq
df["aret"] = ar
df["prt"] = porti
df["std"] = std
df["num_p"] = num_as
df["prt"] = df["prt"].astype(str)
df["aret"] = df["aret"].astype(float)

In [ ]:
dff = df.groupby(["year", "q"])[["aret","std"]].mean()
dff = pd.DataFrame(dff).reset_index()

In [ ]:
fig = px.bar(dff, x='year', y='aret', color="q",barmode='group', hover_data = ["std"])
fig.show()

In [ ]:
df_1.head()

In [ ]:
px.histogram(df_2, x="Annual Return")

In [173]:

qq_dict = {}

for i,q in zip([df_1,df_2], ["q1","q2"]):
    qq_dict[q] = {}
    for ii in enumerate(i["Assets"]):
        n_assets = len(ii[1])
        portfolio_weights_ew = np.repeat(1/n_assets, n_assets)
        port_weekly_return = weekly_return[ii[1]].mul(portfolio_weights_ew,axis=1).sum(axis=1)
        qq_dict[q][ii[0]] = port_weekly_return

In [174]:
testtest = pd.DataFrame()
testtest["q1"] = pd.DataFrame(qq_dict["q1"]).mean(axis=1)
testtest["q2"] = pd.DataFrame(qq_dict["q2"]).mean(axis=1)
testtest = testtest.cumsum(axis=0)

In [175]:
testtest

                  q1        q2
Date
2015-01-14 -0.002192 -0.001945
2015-01-21  0.013071  0.014089
2015-01-28  0.007894  0.008584
2015-02-04  0.024714  0.026921
2015-02-11  0.027821  0.031518
...              ...       ...
2020-12-02  0.570970  0.631153
2020-12-09  0.585042  0.647037
2020-12-16  0.597654  0.661405
2020-12-23  0.601758  0.665423
2020-12-30  0.609324  0.673793

[308 rows x 2 columns]

In [176]:
fig = px.line(testtest, x= testtest.index, y=testtest.columns )
fig.show()

In [ ]:
tickers = list(fundamental_df.index)
startDate = "2015-01-01"
endDate = "2021-01-01"
dailyPrices = data.DataReader(tickers, 'yahoo', startDate, endDate)

In [ ]:
dailyPrices = dailyPrices["Adj Close"]

In [ ]:
dailyPrices.to_csv("DailyPrices.csv")

In [ ]:
pricesWed = dailyPrices[dailyPrices.index.weekday==2]

 weeklyPrices = pricesWed.dropna(axis=1)                 #delete NaN columns
    
# GET WEEKLY RETURNS
weeklyReturns = weeklyPrices.pct_change()                  
weeklyReturns = weeklyReturns.drop(weeklyReturns.index[:1])

weeklyReturns.to_csv("WeeklyReturns.csv")